In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import math

WARNING:tensorflow:From C:\Users\HP Laptop 15\tfenv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
df=pd.read_csv("ReadySoilDataset_Final.csv")
df.head()

,Region,Year,Month,SoilTemperature-10,SoilTemperature-30,SoilTemperature-50,Rainfall,Temperature,Min Temperature,Max Temperature,Humidity,Sunshine,Wind Speed,Surface Pressure,Solar Radiation
0,0,2001,1,17.89,19.85,19.94,0.0,17.08,10.13,25.71,80.48,8.92,2.24,101281.92,207.58
1,0,2001,2,21.95,22.76,22.13,64.0,21.82,14.94,29.49,78.07,8.60,2.06,101059.03,214.45
2,0,2001,3,26.32,27.46,26.37,21.0,25.91,19.05,33.12,74.81,8.03,2.22,100912.25,253.59
3,0,2001,4,30.51,31.25,29.97,51.0,28.98,23.57,34.57,75.23,6.84,2.96,100700.03,259.83
4,0,2001,5,30.05,31.21,30.41,244.0,28.28,23.70,32.84,86.23,4.99,2.66,100247.55,187.60